In [1]:
import psycopg2
import time
import re
from datetime import timedelta
import pickle
import matplotlib.pyplot as plt
from scipy.signal import butter, filtfilt
from scipy import stats
import neurokit2 as nk
import pandas as pd
import numpy as np
from datetime import timedelta# Assuming you have a DataFrame named separated_data with columns 'ecg_data' and 'time_in_seconds'# Define the sampling frequency

import tensorflow as tf
from sklearn.preprocessing import StandardScaler

In [2]:
fs = 250  # Sampling frequency# Define the window size and shifting interval in seconds
window_size = 30
shifting_interval = 1# Initialize lists to store extracted features for each row

# Shooting_game Data

In [3]:
DB_NAME = "tack"

conn = psycopg2.connect(
    host="127.0.0.1",
    port="5432",
    database=DB_NAME,
    user="postgres",
    password="postgres"
)

In [4]:
# Execute the SQL query
cursor = conn.cursor()
sql_query = "SELECT * FROM tack.sensor_data"
cursor.execute(sql_query)

# Fetch all the results
columns = [desc[0] for desc in cursor.description]
data = cursor.fetchall()
ecg_df = pd.DataFrame(data, columns=columns)

cursor.close()

In [5]:
temp_df = ecg_df['sensor_data'].apply(lambda x: pd.Series(x))
ecg_df = pd.concat([ecg_df.drop('sensor_data', axis=1), temp_df.drop('eda_data',axis=1)], axis=1)
#ecg_df = ecg_df.explode(['Timestamp','ecg_data'])

# #convert to utc
# temp_time = (ecg_df['Timestamp'] * 1000000).astype('int64') #convert to microsecond
# ecg_df['utc'] = pd.to_datetime(temp_time, unit='us').dt.tz_localize('UTC').dt.tz_convert('Etc/GMT+5')

# #convert to number
# ecg_df['Timestamp'] = pd.to_numeric(ecg_df['Timestamp'], errors='raise')
# ecg_df['ecg_data'] = pd.to_numeric(ecg_df['ecg_data'], errors='raise')

ecg_df

,subject_id,computer_name,block_type,Timestamp,ecg_data
0,EDFR,mammal_panda,baseline,"[1712690031.0352373, 1712690031.0392373, 17126...","[160.0, 170.0, 157.0, 167.0, 155.0, 174.0, 165..."
1,EDFR,mammal_panda,block_01,"[1712690707.5706294, 1712690707.5746293, 17126...","[673.0, 575.0, 385.0, 125.0, 65.0, 71.0, 87.0,..."
2,EDFR,mammal_panda,block_02,"[1712691652.6205168, 1712691652.6245167, 17126...","[204.0, 210.0, 200.0, 206.0, 190.0, 205.0, 195..."
3,EDFR,mammal_panda,block_03,"[1712692657.4177406, 1712692657.4217403, 17126...","[168.0, 175.0, 165.0, 177.0, 164.0, 183.0, 177..."
4,EDFR,mammal_panda,block_04,"[1712693581.0007808, 1712693581.0047808, 17126...","[156.0, 160.0, 152.0, 203.0, 250.0, 373.0, 537..."
...,...,...,...,...,...
282,BVCX,mammal_panda,baseline,"[1713278800.638756, 1713278800.642756, 1713278...","[130.0, 129.0, 131.0, 133.0, 133.0, 137.0, 142..."
283,BVCX,mammal_panda,block_01,"[1713279427.4931395, 1713279427.4971397, 17132...","[160.0, 130.0, 128.0, 123.0, 131.0, 130.0, 132..."
284,BVCX,mammal_panda,block_02,"[1713280303.034896, 1713280303.0388958, 171328...","[490.0, 558.0, 511.0, 392.0, 277.0, 218.0, 198..."
285,BVCX,mammal_panda,block_03,"[1713281205.8859355, 1713281205.8899355, 17132...","[222.0, 224.0, 220.0, 227.0, 219.0, 225.0, 220..."
286,BVCX,mammal_panda,block_04,"[1713282046.398645, 1713282046.4026449, 171328...","[216.0, 216.0, 216.0, 216.0, 213.0, 215.0, 218..."

# Calculate ECG Feature

In [6]:
#calculate ECG data function

def get_ecg_features(ecg, time_in_sec, fs):
    """
    Compute ECG features from raw ECG signal.

    Parameters
    ----------
    ecg : array-like
        Raw ECG signal.
    time_in_sec : array-like
        Timestamps corresponding to each sample of the ECG signal.
    fs : float
        Sampling frequency of the ECG signal.

    Returns
    -------
    array
        Array of ECG features: [mean heart rate, maximum heart rate, minimum heart rate, heart rate variability].
    """
    try:
        b, a = butter(4, (0.25, 25), 'bandpass', fs=fs)
        ecg_filt = filtfilt(b, a, ecg, axis=0)
        ecg_cleaned = nk.ecg_clean(ecg_filt, sampling_rate=fs)
        instant_peaks, rpeaks = nk.ecg_peaks(ecg_cleaned, sampling_rate=fs,method="engzeemod2012")
    except Exception as e:
        raise ValueError("Error processing ECG signal: " + str(e))

    rr_times = time_in_sec[rpeaks['ECG_R_Peaks']]
    if len(rr_times) == 0:
        raise ValueError("No R-peaks detected in ECG signal.")
    
    # Assuming d_rr contains the time intervals between successive heartbeats in seconds
    d_rr = np.diff(rr_times)
    heart_rate = 60 / d_rr
    if heart_rate.size == 0:
        raise ValueError("Error computing heart rate from ECG signal.")
    
    valid_heart_rate = heart_rate[~np.isnan(heart_rate)]
    z_scores = np.abs(stats.zscore(valid_heart_rate))

    # Define a z-score threshold beyond which a value is considered an outlier
    z_score_threshold = 2.0

    # Remove outliers from the valid_heart_rate array
    heart_rate = valid_heart_rate[z_scores <= z_score_threshold]

    hr_mean = np.nanmean(heart_rate)
    hr_min = np.nanmin(heart_rate)
    hr_max = np.nanmax(heart_rate)
    d_rr_ms = 1000 * d_rr
    d_d_rr_ms = np.diff(d_rr_ms)

    valid_d_d_rr_ms = d_d_rr_ms[~np.isnan(d_d_rr_ms)] 
    z_scores = np.abs(stats.zscore(valid_d_d_rr_ms))
    d_d_rr_ms= valid_d_d_rr_ms[z_scores <= z_score_threshold]
    heart_rate_variability = np.sqrt(np.nanmean(np.square(d_d_rr_ms)))

    # Create a new signal 'ecg_with_rr_intervals' with RR intervals and a 1-second window around each RR interval
    ecg_with_rr_intervals = []
    ecg_with_rr_intervals_cleaned = []

    for rr_interval in rr_times:
        start_time = rr_interval - 0.1 # 1 second before the RR interval
        end_time = rr_interval + 0.1   # 1 second after the RR interval
        indices = np.where((time_in_sec >= start_time) & (time_in_sec <= end_time))[0]

        # Validate indices to ensure they are within bounds
        indices = indices[(indices >= 0) & (indices < len(ecg))]

        if len(indices) > 0:
            ecg_with_rr_intervals.extend(ecg[indices])
            ecg_with_rr_intervals_cleaned.extend(ecg_cleaned[indices])

    # Convert lists to NumPy arrays
    ecg_with_rr_intervals = np.array(ecg_with_rr_intervals)
    ecg_with_rr_intervals_cleaned = np.array(ecg_with_rr_intervals_cleaned)

    # Calculate noise power (mean squared amplitude of noise)
    signal_power = np.var(ecg_with_rr_intervals)
    noise_power = np.var(ecg_with_rr_intervals - ecg_with_rr_intervals_cleaned)

    # Calculate noise power (mean squared amplitude of noise)
    #signal_power = np.var(ecg)
    #noise_power = np.var(ecg - ecg_cleaned)

     # Calculate SNR in dB and append it to the array
    snr_values = 10 * np.log10(signal_power / noise_power)
    
    return hr_mean, hr_max, hr_min, heart_rate_variability, snr_values

In [15]:
#allias this dataFrame to work with Murat code
separated_data = ecg_df

In [18]:
# Initialize lists to store extracted features for each row
hr_mean_lists = []
hr_max_lists = []
hr_min_lists = []
hr_variability_lists = []
snr_values_lists = []
start_time_lists = []
end_time_lists = []

for index, row in separated_data.iterrows():
    print(index, ':  ',row['subject_id'], '  ', row['block_type'])
    ecg = np.array(row['ecg_data'])  # Convert ecg_data to NumPy array
    #timestamps = np.array(row['time_in_seconds'])  # Convert time_in_seconds to NumPy array    i = 0
    timestamps = np.array(row['Timestamp'])  # Convert time_in_seconds to NumPy array    i = 0
    # Initialize lists to store features for the current row
    hr_mean_list = []
    hr_max_list = []
    hr_min_list = []
    hr_variability_list = []
    snr_values_list = []    # Iterate through the ECG data in 30-second windows with 1-second overlap
    start_time_list = []
    end_time_list = []
    
    for start_time in range(0, len(ecg) - window_size * fs, shifting_interval * fs):
        end_time = start_time + window_size * fs
        window_ecg = ecg[start_time:end_time]
        window_timestamps = timestamps[start_time:end_time]        # Check for NaN values in the window_ecg and window_timestamps

        
        nan_ecg_indices = np.isnan(window_ecg)
        nan_timestamps_indices = np.isnan(window_timestamps)
        if nan_ecg_indices.any() or nan_timestamps_indices.any():
            # Interpolate NaN values if present
            if nan_ecg_indices.any():
                window_ecg = np.interp(np.arange(len(window_ecg)), np.where(~nan_ecg_indices)[0], window_ecg[~nan_ecg_indices])
            if nan_timestamps_indices.any():
                window_timestamps = np.interp(np.arange(len(window_timestamps)), np.where(~nan_timestamps_indices)[0], window_timestamps[~nan_timestamps_indices])
        try:
            # Call your get_ecg_features function and extract features
            features = get_ecg_features(window_ecg, window_timestamps, fs)            # Check if features is not None before appending
            if features is not None:
                #i = i + 1                # Append the extracted features to the respective lists for the current row
                hr_mean_list.append(features[0])
                hr_max_list.append(features[1])
                hr_min_list.append(features[2])
                hr_variability_list.append(features[3])
                snr_values_list.append(features[4])
                start_time_list.append(timestamps[start_time])
                end_time_list.append(timestamps[end_time])
                
        except ValueError as e:
            # Handle errors or skip this window in case of an error
            print(f"Error in feature extraction: {e}")
            continue    # Append the lists for the current row to the corresponding lists for all rows

    
    hr_mean_lists.append(hr_mean_list)
    hr_max_lists.append(hr_max_list)
    hr_min_lists.append(hr_min_list)
    hr_variability_lists.append(hr_variability_list)
    snr_values_lists.append(snr_values_list)# Add the lists as new columns in the separated_data DataFrame
    start_time_lists.append(start_time_list)
    end_time_lists.append(end_time_list)

separated_data['hr_mean'] = hr_mean_lists
separated_data['hr_max'] = hr_max_lists
separated_data['hr_min'] = hr_min_lists
separated_data['heart_rate_variability'] = hr_variability_lists
separated_data['snr_values'] = snr_values_lists
separated_data['start_time'] = start_time_lists
separated_data['end_time'] = end_time_lists

0 :   EDFR    baseline
1 :   EDFR    block_01

,subject_id,computer_name,block_type,Timestamp,ecg_data,hr_mean,hr_max,hr_min,heart_rate_variability,snr_values,start_time,end_time
0,EDFR,mammal_panda,baseline,"[1712690031.0352373, 1712690031.0392373, 17126...","[160.0, 170.0, 157.0, 167.0, 155.0, 174.0, 165...","[90.71884287767276, 90.53768858069103, 90.2537...","[102.04088881536292, 102.04088881536292, 102.0...","[84.26964734483123, 84.26964734483123, 84.2696...","[16.399785026557797, 15.889890099634755, 14.00...","[6.4596347987266025, 6.469030541974598, 6.4558...","[1712690031.0352373, 1712690032.0352373, 17126...","[1712690061.0352373, 1712690062.0352373, 17126..."
1,EDFR,mammal_panda,block_01,"[1712690707.5706294, 1712690707.5746293, 17126...","[673.0, 575.0, 385.0, 125.0, 65.0, 71.0, 87.0,...","[94.28375271973553, 94.15796232666496, 94.1161...","[103.44820442159282, 102.73970656557286, 103.4...","[83.33333002196431, 83.33333002196431, 83.3333...","[19.585919745480158, 19.49605824648644, 19.714...","[6.498243535103615, 6.647450638921232, 6.66762...","[1712690707.5706294, 1712690708.5706294, 17126...","[1712690737.5706294, 1712690738.5706294, 17126..."

In [10]:
ecg_df

,subject_id,computer_name,block_type,Timestamp,ecg_data
0,EDFR,mammal_panda,baseline,"[1712690031.0352373, 1712690031.0392373, 17126...","[160.0, 170.0, 157.0, 167.0, 155.0, 174.0, 165..."
1,EDFR,mammal_panda,block_01,"[1712690707.5706294, 1712690707.5746293, 17126...","[673.0, 575.0, 385.0, 125.0, 65.0, 71.0, 87.0,..."
2,EDFR,mammal_panda,block_02,"[1712691652.6205168, 1712691652.6245167, 17126...","[204.0, 210.0, 200.0, 206.0, 190.0, 205.0, 195..."
3,EDFR,mammal_panda,block_03,"[1712692657.4177406, 1712692657.4217403, 17126...","[168.0, 175.0, 165.0, 177.0, 164.0, 183.0, 177..."
4,EDFR,mammal_panda,block_04,"[1712693581.0007808, 1712693581.0047808, 17126...","[156.0, 160.0, 152.0, 203.0, 250.0, 373.0, 537..."
...,...,...,...,...,...
282,BVCX,mammal_panda,baseline,"[1713278800.638756, 1713278800.642756, 1713278...","[130.0, 129.0, 131.0, 133.0, 133.0, 137.0, 142..."
283,BVCX,mammal_panda,block_01,"[1713279427.4931395, 1713279427.4971397, 17132...","[160.0, 130.0, 128.0, 123.0, 131.0, 130.0, 132..."
284,BVCX,mammal_panda,block_02,"[1713280303.034896, 1713280303.0388958, 171328...","[490.0, 558.0, 511.0, 392.0, 277.0, 218.0, 198..."
285,BVCX,mammal_panda,block_03,"[1713281205.8859355, 1713281205.8899355, 17132...","[222.0, 224.0, 220.0, 227.0, 219.0, 225.0, 220..."
286,BVCX,mammal_panda,block_04,"[1713282046.398645, 1713282046.4026449, 171328...","[216.0, 216.0, 216.0, 216.0, 213.0, 215.0, 218..."

## Calculate Workload

In [11]:
ecg_model_path = r".\Mural_ECG_model\model"
ecg_model = tf.saved_model.load(ecg_model_path)

In [12]:
MAX_HR_CUTOFF = 250
MIN_HR_CUTOFF = 25
SNR_CUTOFF = 4
SUBJECT_LIST = ecg_df['subject_id'].unique()
SUBJECT_LIST

array(['EDFR', 'HGFD', 'JHGF', 'LKMN', 'LPDW', 'MJUY', 'SPKZR', 'SVTZM',
       'TYDF', 'WZXE', 'XZPT', 'ZXCV', 'ZXWE', 'ZYXW', 'HJKL', 'HPLX',
       'LKPW', 'LPZV', 'LRTB', 'MJKL', 'MNOP', 'OPKJ', 'QAXY', 'QXZW',
       'SBTBT', 'STWXJ', 'VFTY', 'XUYP', 'DFGH', 'DFZX', 'FTLD', 'GHJK',
       'MTYH', 'NMBV', 'PKJH', 'QWER', 'QWRT', 'RQWE', 'SNMVN', 'SXVBN',
       'TYZX', 'ZRTY', 'CVBN', 'DKLQ', 'GTYU', 'JKLZ', 'KJHG', 'MNBW',
       'QPOI', 'SBQRG', 'SRKLP', 'UYGH', 'VBNM', 'VNPL', 'WERT', 'LKJH',
       'QAZW', 'XCVH', 'BVCX'], dtype=object)

In [13]:
for cur_subject in SUBJECT_LIST:
    temp_df = ecg_df[ecg_df['subject_id'] == cur_subject]
    baseline_row = temp_df[temp_df['block_type'] == 'baseline'].iloc[0]
    
    #fit_scaler
    mean_scaler = StandardScaler().fit(np.array(baseline_row['hr_mean']).reshape(-1,1))
    max_scaler = StandardScaler().fit(np.array(baseline_row['hr_max']).reshape(-1,1))
    min_scaler = StandardScaler().fit(np.array(baseline_row['hr_min']).reshape(-1,1))
    hrv_scaler = StandardScaler().fit(np.array(baseline_row['heart_rate_variability']).reshape(-1,1))
    
    max_hr_cutoff = (MAX_HR_CUTOFF - max_scaler.mean_[0]) / max_scaler.var_[0]   #convert heart rate cuttoff value to standardlize value
    min_hr_cutoff = (MIN_HR_CUTOFF - min_scaler.mean_[0]) / min_scaler.var_[0]   #convert heart rate cuttoff value to standardlize value

    print(max_hr_cutoff, '  ',min_hr_cutoff)
    for index, row in temp_df.iterrows():
        print(index, ':  ',row['subject_id'], '  ', row['block_type'], end = '  ')
        if len(row['hr_mean']) < 2:
            print("\n Data unavailible, Continue")
            continue
            
        #tranform data
        mean_scaled = mean_scaler.transform(np.array(row['hr_mean']).reshape(-1,1))
        max_scaled = max_scaler.transform(np.array(row['hr_max']).reshape(-1,1))
        min_scaled = min_scaler.transform(np.array(row['hr_min']).reshape(-1,1))
        hrv_scaled = hrv_scaler.transform(np.array(row['heart_rate_variability']).reshape(-1,1))
    
    
        #predicting workload
        workload_list = []
        for current_data,current_snr in zip(zip(mean_scaled, max_scaled, min_scaled, hrv_scaled), row['snr_values']):
            
            current_sample = np.array(current_data).reshape(1,-1)
            #santize check
            if (current_sample[0][1] > max_hr_cutoff) or (current_sample[0][2] < min_hr_cutoff) or current_snr < (SNR_CUTOFF):
                print("\n Invalid heart_rate: ", current_sample[0][1], "  ", current_sample[0][2], "  ", current_snr)
                workload_list.append([[np.nan]])
                continue

            prediction = ecg_model(current_sample)
            workload_list.append(prediction)
    
        #add workload to dataFrame
        if len(workload_list) < 0:
            print("No workload data")
            continue
        mask = (ecg_df['subject_id'] == row['subject_id']) & (ecg_df['block_type'] == row['block_type'])
        print(ecg_df.loc[mask].shape)
        ecg_df.loc[mask,'workload'] = str(np.array(workload_list).reshape(-1).tolist())

KeyError: 'hr_mean'

In [ ]:
ecg_df

In [ ]:
ecg_df.drop(["Timestamp","ecg_data"],axis=1).to_csv("Shooting_game_heart_rate.csv",index=False)

conn.close()